@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
}
.head{
    background-color: whitesmoke;
    background-size: cover;
    background-image: url(image/Background\ 2.jpg);
    background-blend-mode: multiply;
    padding: 0;
    margin: 0;
}
html body{
    background-color: lightgrey;
    p
}
.nav li{
    display:inline;
}
.nav li a{
    font-size: 25px;
    text-decoration: none;
    padding: 5em;}


    
.footer-bottom{
    background-color:lightskyblue;
    padding: 0.50em;
    
}
.main-foot-container{
    display: flex;
    
}
.main-foot-container ul{
    flex-grow: 1;
    text-align: end;
}


.ul-bottom li{
    padding: 0.5em;
    display:inline-flex;

}



